{% extends 'Main/header.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Умная система голосования</h1>
      <p>Эта система представляет собой замену очной улучшение существующей онлайн системы голосования по важным вопросам связанных с ЖКХ.</p>
      <p><a class="btn btn-primary btn-lg" href="/more-about-us" role="button">Узнать больше</a></p>
    </div>
  </div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Прозрачная система голосования</h2>
        <p>Использование в качестве определения личности систему ЕСИА мы можем в уверено утверждать что ваш голос не будет украден или с фальсифицирован.</p>
        <p><a class="btn btn-secondary" href="/TransparentVotingSystem" role="button">Подробнее ...</a></p>
      </div>
      <div class="col-md-4">
        <h2>Удобство и простота</h2>
        <p>Весь сайт сделан так что бы каждый смог разобраться с ним, включая тех кто видет компьютер в первый раз. Так же на сайте существует раздел для помощи в обучении цифровой грамотности, в котором описаны базовые принципы и способы работы с сайтом. </p>
        <p><a class="btn btn-secondary" href="/ConvenienceAndSimplicity" role="button">Подробнее ...</a></p>
      </div>
      <div class="col-md-4">
        <h2>Повсеместное оповещение</h2>
        <p>Что бы не пропустить новое голосование по вопросам вашего дома мы создали ботов во всех популярных соц. сетях таких как VK, Instagram, Discord, Whats App, Telegram, ОК, Аська, а так же СМС рассылку для тех кого нет в соц. сетях.</p>
        <p><a class="btn btn-secondary" href="/UniversalNotification" role="button">Подробнее ...</a></p>
      </div>
    </div>

    <hr>

  </div>
{% endblock %}