<div class="col-lg-4">
    <div class="card border-0 shadow mb-4 d-none d-lg-block">
        <div class="card-body">
            <a type="button" href="#" class="btn btn-primary btn-block">Обсуждения</a>
            <a type="button" href="#" class="btn btn-outline-primary btn-block">Голосования</a>
            <a type="button" href="#" class="btn btn-outline-primary btn-block">Настройки</a>
            <hr>
            <a type="button" href="/logout" class="btn btn-danger btn-block">Выйти</a>
        </div>
    </div>
</div>